@(products: List[models.Product],categories: List[models.Category], catId: Long, filter:String,user : models.users.User, e: play.api.Environment)
                                                                                                                                                  
@main("Bathrooms",user, filter){
  
  <div class="row"></div>

  <br>
  <br>
  <br>
  <br>
  <br>

  
 
   
                  

    @for(p<- products){
        
      

                <div class="col-sm-3">
                    <a href="@routes.HomeController.productListing(p.getId)">
                    <article class="col-item">
                      <div class="photo">
                      <div class="options-cart-round">
                        
                        </button>
                      </div>
                      
                      @if(e.resource("public/images/productImages/" + p.getId + ".jpg").isDefined) {
                        <td><img src="/assets/images/productImages/@(p.getId + ".jpg")"/></td>
                    } else {
                        <td><img src="/assets/images/productImages/noImage.jpg"/></td>
                    }                  
                  </div>
                    <div class="info">
                      <div class="row">
                          <a href="@routes.HomeController.productListing(p.getId)">
                        <div class="price-details col-md-6">
                          
                          
                            @p.getName</h1>
                          <span class="price-new">Price:  €@p.getPrice</span>
                        </div>
                      </div>
                    </div>
                  </a>

                  
                    
                  </article>
                  
                </div>

                
            
          }
      
      

          









}